
nav .brand {
    font-weight: bold; 
    letter-spacing: 5px;
}
nav .navbar-collapse a::after {
    content: '';
    width: 0%;
    height: 2px;
    background:orange;
    display: block;
    margin: auto;
    transition: 0.2s;
}
nav .navbar-collapse a:hover::after {
    width: 100%;
}

header .bgImg{
    background-image: url("../images/bgbanner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    
  
}
header .jumbotron .head img {
    border: solid #2d3033 10px!important;
    box-shadow: 2px 2px 10px #000000;
    
}
header .jumbotron .head h1, header .jumbotron .head p {
    font-weight: bold; 
    letter-spacing: 10px;
    text-shadow: 5px 5px 10px #000000;
    padding: 5px;
    /* box-shadow: 2px 2px 10px #000000; */
    
}

section .title {
    font-weight: bold; 
    letter-spacing: 10px;
}
section .subT {
    font-weight: bold; 
    letter-spacing: 4px;
}
section #about p a{
    text-decoration: none;
    color: white;
}
section #about p a:hover{
    color: orange;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%; 
}
.carousel-inner .carousel-item .carousel-caption {
    text-shadow: 2px 2px 10px#000000;
}
.carousel-item img {
    height: 500px;
    border-radius: 5px;
}



footer .jumbotron {
    border-radius: 0;
}
footer .jumbotron a{
    color: white!important;
}
footer .jumbotron a:hover {
    color: orange!important;
    text-decoration: none;
}
footer .jumbotron h4 {
    font-weight: bold; 
    letter-spacing: 5px;
    margin-bottom: 20px;
}




.footer-links img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin: 0 6px;
}


.footer-links img:hover {
    opacity: 1;
}
.vl {
    width: 2%;
    border-left: 1px solid white;
    height: 80px;
    
  }


  #portfolio .album .container .row .col-md-4 .card:hover {
    box-shadow: 0 0 20px 1px #a6a6a6!important;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  @media screen and (max-width: 767px){
     
    .vl {
        margin-top: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid white;
        height: 0;
        width: 100%;
    }
    .carousel-item img {
        height: 450px;
        
    }
    
}
@media screen and (max-width: 500px){
     
    .carousel-item img {
        height: 300px;
        
    }
    
}




